{% extends 'base.html' %}
{% block content %}

<h1>Board Game Details</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ game.name }}</span>
        <p>Rating: {{ game.rating }}</p>
        <p>Category: {{ game.category }}</p>
        <p>Age: {{ game.age }}+</p>
        <p>Players: {{ game.min_players }} - {{ game.max_players }}</p>
        <p>{{ game.description }}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'games_update' game.id %}">Edit</a>
        <a href="{% url 'games_delete' game.id %}">Delete</a>
    </div>
</div>

{% endblock %}